.section-filters {
  height: 25vh;
  background-color: rgb(0, 1, 52);
  border-radius: 0 0 30% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.combobox-container {
  height: 8vh;
  width: 100%;
  background-color: #121341;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.show-only {
  color: white;
  font-size: 11px;
  height: 3vh;
  padding: 5px 0 0 10px;
  font-weight: 300;
}

.filter-options {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #121341;
  height: 50px;
  padding: 0;
  align-items: flex-start;
}
.button {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  background: 0;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.05em;
}

.list-item {
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 100px;
  height: 25px;
  &__button {
    border: 1px solid white;
  }
  &__button-deactivated {
    border: 0;
  }
}

.fas.fa-check {
  color: green;
}

.far.fa-clock {
  color: orange;
}

.fa.fa-times {
  color: #990000;
}

.addDatebtn {
  cursor: pointer;
  align-self: center;
  width: 50%;
  border: 9px solid #121341;
  color: white;
  background-color: #5ace9f;
  height: 58px;
  border-radius: 25px;
  margin-top: 10px;
}
.addDatebtn:hover {
  background-image: linear-gradient(to bottom, #5ace9f, #5acea0);
}
