#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 251, 251);
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-container {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
.sidepanel {
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .main-content {
    &--no-header {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
