.backdropStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
}

.modalStyle {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.modal-details {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
}

.date-status {
  &__status.pending {
    color: #fca023;
    display: list-item;
    font-size: 12px;
    font-weight: 700;
  }
}
.user-info {
  height: 70%;
}

.user-avatar {
  border-radius: 50%;
  background-color: rgba(256, 256, 256, 0.2);
  display: flex;
  align-self: center;
  margin-right: 1%;
  height: 40px;
}

.users-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.fa-mug-hot {
  margin: 0 15px;
}
.fa-question {
  font-size: 28px;
}

.form {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .form-section {
    margin: 10px 0;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    input {
      background: #fff;
      color: rgba(0, 0, 0, 0.9);
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      border: 0;
      outline: 0;
      padding: 6px 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    input:focus {
      border: 1px solid #5496d2;
    }
  }
}

.form-section input {
  width: 70%;
}
.form-section span {
  width: 30%;
}
