.section-appointments {
  height: 25vh;
  margin: 5% 10%;
  display: flex;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 border-top: 7px solid #4990e2;
  &__time {
    position: relative;
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: flex-end;
    .time {
      &__hour {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
      &__duration {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }
      &__separator {
        height: 75%;
        width: 3px;
        color: red;
      }
    }
  }

  &__info {
    display: flex;
    width: 56%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .personal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .date-status {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__date {
        font-weight: 600;
      }
      &__status {
        display: list-item;
        color: #4990e2;
        font-size: 12px;
        font-weight: 700;
      }

      &__status.pending {
        color: #fca023;
      }
      &__status.cancelled {
        color: #f66972;
      }
    }
    .fas.fa-map-marker-alt {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin: 3px 0 0 3px;

      .location {
        color: rgba(0, 0, 0, 0.5);
        margin-left: 5px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: center;
    .actions-icons {
      display: flex;
      flex-direction: column;
      height: 30%;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.section-appointments.cancelled {
 border-top: 7px solid #f66972;;
}
.section-appointments.pending {
 border-top: 7px solid #fca023;
}
