.main-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 80%;
}
.section-appointments {
  height: 25vh;
  margin: 5% 10%;
  width: 80%;
  display: flex;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid #4990e2;
  background-color: white;
  &__time {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;

    .time {
      &__hour {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
      &__duration {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
      }
      &__separator {
        height: 75%;
        width: 3px;
        color: red;
      }
    }
  }
  &__time.cancelled {
    opacity: 0.5;
    filter: grayscale(100%);
  }

  &__info {
    display: flex;
    width: 56%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .personal-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      .date-name {
        text-align: center;
        font-weight: 700;
      }
    }
    .personal-info.cancelled {
      opacity: 0.5;
      filter: grayscale(100%);
    }
    .date-status {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__date {
        font-weight: 600;
      }
      &__date.cancelled {
        opacity: 0.5;
        filter: grayscale(100%);
      }
      &__status {
        display: list-item;
        color: #4990e2;
        font-size: 12px;
        font-weight: 700;
      }

      &__status.pending {
        color: #fca023;
      }
      &__status.cancelled {
        color: #f66972;
      }
    }
    .fas.fa-map-marker-alt {
      display: flex;
      justify-content: center;
      font-size: 12px;
      margin: 3px 0 0 3px;

      .location {
        color: rgba(0, 0, 0, 0.5);
        margin-left: 5px;
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    width: 19%;
    justify-content: center;
    .actions-icons {
      display: flex;
      flex-direction: column;
      height: 30%;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.3);
      align-items: center;
      i {
        cursor: pointer;
      }
    }
  }
}

.section-appointments.cancelled {
  border-top: 7px solid #f66972;
}
.section-appointments.pending {
  border-top: 7px solid #fca023;
}

.today-appointments {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .today-info {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .today-label {
      color: white;
      font-weight: 900;
      font-size: 20px;
    }
    .today-label2 {
      @extend .today-label;
      font-size: 16px;
    }
    .next-appointment {
      color: white;
      font-size: 12px;
      font-weight: 300;
      font-style: italic;
      word-break: break-word;
      width: 35%;
    }
  }
}

.today-separator {
  width: 85%;
  height: 1px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.upcoming-appointments {
  display: flex;
  flex-direction: column;

  .upcoming-label {
    font-weight: 900;
    font-size: 20px;
    align-self: center;
  }
}

.button.load-more {
  background: #1aab8a;
  border: none;
  position: relative;
  height: 40px;
  font-size: 14px;
  transition: 800ms ease all;
  width: 50%;
  align-self: center;
  margin-bottom: 2%;
}
.button.load-more:hover {
  background: #fff;
  color: #1aab8a;
  border-top: 1px solid;
  border-bottom: 1px solid;
  transition: 300ms ease all;
}

@media (min-width: 360px) {
  .today-appointments {
    .today-info {
      .today-label {
        font-size: 30px;
      }
      .today-label2 {
        font-size: 22px;
      }
    }
  }
}
@media (min-width: 960px) {
  .avatar {
    height: 40px;
  }
  .main-container {
    top: 55%;
  }

  .today-appointments {
    .today-info {
      .today-label2 {
        font-size: 30px;
      }
    }
  }
  .today-appointments {
    min-height: 20vh;
    .today-info {
      width: 90%;
      justify-content: space-between;
      align-items: center;
      .next-appointment {
        text-align: center;
      }
    }
  }

  .section-appointments {
    margin: 1% 10%;
    border: 0;
    height: 10vh;
    border-left: 7px solid #4990e2;
    .actions-icons {
      flex-direction: row;
      width: 60px;
      i {
        cursor: pointer;
      }
    }
    &__actions {
      width: 22%;
    }

    &__time {
      width: 12%;
      max-width: 12%;
      .time {
        font-size: 10px;
      }
    }
    &__info {
      flex-direction: row;
      width: 60%;
      .personal-info {
        height: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
      }

      .date-status {
        width: 30%;
      }
      .name-location {
        font-size: 11px;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
        justify-content: space-evenly;
      }
      .fas.fa-map-marker-alt {
        justify-content: space-between;
        width: 25%;
        margin: 0;
      }
      .time-separator {
        height: 86%;
        width: 2px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .upcoming-appointments {
    margin-bottom: 10px;
  }

  .section-appointments.cancelled {
    border: 0;
    border-left: 7px solid #f66972;
  }
  .section-appointments.pending {
    border: 0;
    border-left: 7px solid #fca023;
  }
}

@media (min-width: 1240px) {
  .section-appointments {
    height: 13vh;
    &__time {
      width: 10%;
      max-width: 10%;
      .time{
        font-size: 16px;
      }
    }
    &__info {
      font-size: 16px;
      .name-location {
        font-size: 16px;
      }
    }
  }
  .avatar {
    height: 50px;
  }
}

// * {
//   outline: 1px solid red;
// }
